.admin-viewPatient {
    min-height: 100%;
    width: 100vw;
    background-color: #E7F3ED;
    color: #3e5569;
}

.admin-viewPatient-container {
    padding: 10px 15px;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 2px;
}

.admin-viewPatient-container h1 {
    color: #E57498;
    font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.admin-viewPatient-details-div{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.admin-viewPatient-details-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}
.admin-viewPatient-details-profile img{
    height: 250px;
    width: 250px;
}
.admin-viewPatient-details-profile .admin-viewPatient-image{
    margin-bottom: 10px;
}
.admin-viewPatient-details-profile .admin-viewPatient-icon{
    padding-right: 2px;
    height: 24px;
    width: 24px;
}
.admin-viewPatient-details-profile div{
    display: flex;
}
.admin-viewPatient-details-profile .admin-viewPatient-edit{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #28a745;
    border:none;
    width: 120px;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}
.admin-viewPatient-details-profile .admin-viewPatient-block{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #dc3545;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}
.admin-viewPatient-details-profile .admin-viewPatient-unblock{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #FFAA2A;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}

.admin-viewPatient-details-table{
    margin: 20px 40px;
    font-size: 14px;
    padding-right: 200px;
    width: 100%;
}
.admin-viewPatient-details-table table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid; 
}

.admin-viewPatient-details-table th,
.admin-viewPatient-details-table td {
    border: 2px solid; 
    padding: 10px 20px; 
    text-align: left;
    width: auto; 
    box-sizing: border-box; 
}

.admin-viewPatient-activity table {
    display: table;
    border-collapse: collapse;
    width: 90%;
    border: 2px solid; 
    margin: 20px 40px;
    font-size: 14px;
}

.admin-viewPatient-activity th,
.admin-viewPatient-activity td {
    border: 2px solid; 
    padding: 10px 20px; 
    text-align: center;
    width: auto; 
    box-sizing: border-box; 
}

.admin-viewPatient-status-scheduled{
    background-color: #ffc107;
    color: #fff;
    padding: 2px 5px;
}
.admin-viewPatient-status-cancelled{
    background-color: #dc3545;
    color: #fff;
    padding: 2px 5px;
}
.admin-viewPatient-status-completed{
    background-color:  #157347;
    color: #fff;
    padding: 2px 5px;
}