.admin-dashboard{
    min-height: 100%;
    width: 100vw;
    background-color: #E7F3ED;
    color:#3e5569;
}

.admin-dashboard-container {
    padding: 10px 15px;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-dashboard-container section{
    display: flex;
    align-items: center;
    margin: 30px;
}

.admin-dashboard-container section div span{
    margin: 10px 100px 10px 10px;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 5px;
    background-color: #E57498;
    color: #fff;
}
.admin-dashboard-container section div span img{
    margin-top: 6px;
    margin-right: 10px;
}

.admin-dashboard-container div{
    display: flex;
    align-items: center;
}
