.admin-allAppointments {
    min-height: 100%;
    width: 100vw;
    background-color: #E7F3ED;
    color: #3e5569;
}

.admin-allAppointments-container {
    padding: 10px 15px;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 2px;
}

.admin-allAppointments-container h1 {
    color: #E57498;
    font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.admin-allAppointments-container img{
    height: 150px;
    width: 150px;
}
.admin-allAppointments-container table div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.admin-allAppointments-container table{
    padding: 10px 20px;
    width:100%;
    display: table;
}
.admin-allAppointments-container table tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.admin-allAppointments-container table tr th{
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #dee2e6;
}
.admin-allAppointments-container table tr td{
    font-size: 15px;
    font-weight: 200;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.admin-allAppointments-container table tr td button{
    margin: 5px;
}
.admin-allAppointments-container table tr td .admin-allAppointments-edit{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    background-color: #198754;
    border: 1px solid #198754;
    padding: 10px 30px;
    border-radius: 5px;
}
.admin-allAppointments-container table tr td .admin-allAppointments-edit:hover{
    background-color: #157347;
    border: 1px solid #146c43;
}

.admin-allAppointments-status-scheduled{
    background-color: #ffc107;
    color: #fff;
    padding: 2px 5px;
}
.admin-allAppointments-status-cancelled{
    background-color: #dc3545;
    color: #fff;
    padding: 2px 5px;
}
.admin-allAppointments-status-completed{
    background-color:  #157347;
    color: #fff;
    padding: 2px 5px;
}
