.admin-viewDoctor {
    min-height: 100%;
    width: 100vw;
    background-color: #E7F3ED;
    color: #3e5569;
}

.admin-viewDoctor-container {
    padding: 10px 15px;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 2px;
}

.admin-viewDoctor-container h1 {
    color: #E57498;
    font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}
.admin-viewDoctor-details-div{
    display:flex;
    flex-direction:row;
}
.admin-viewDoctor-details-profile img{
    height: 250px;
    width: 250px;
}
.admin-viewDoctor-details-profile .admin-viewDoctor-icon{
    height: 24px;
    width: 24px;
}
.admin-viewDoctor-details-profile .admin-viewDoctor-edit{
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #28a745;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}
.admin-viewDoctor-details-profile .admin-viewDoctor-block{
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #dc3545;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}
.admin-viewDoctor-details-profile .admin-viewDoctor-unblock{
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #FFAA2A;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}
.admin-viewDoctor-details-profile .admin-viewDoctor-scheduleEdit{
    font-size: 15px;
    font-weight: 400;
    color : white;
    background-color: #28a745;
    border:none;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 0px 8px;
    cursor: pointer;
}