.home{
    min-height: 100%;
    min-width: 100vw;
    background-color: #E7F3ED;
    color:#3e5569;
}
.home-container{
    padding: 15px 15px;
    margin: 20px 15px;
    background-color: #fff;
    border-radius: 2px;
}
.home-container h1{
    color: #E57498;
    text-align: center;
    font-size: 40px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
}
.home-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.home-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.home-left p{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 2;
}
.home-left button{
    margin-top: 50px;
    background-color: #E57498;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 30px;
    border-radius: 0.3rem;
    width: 300px;
}
.home-right img{
    height: 500px;
}

@media(max-width:1200px) {
    .home-container h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .home-left p{
        font-size: 13px;
    }
    .home-left button{
        margin-top: 40px;
        font-size: 15px;
        font-weight: 400;
        padding: 15px 20px;
        border-radius: 0.3rem;
        width: 250px;
    }
    .home-right img{
        height: 400px;
    }
}

@media (max-width: 600px) {
    .home{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-container h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .home-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .home-left p{
        font-size: 12px;
        font-weight: 400;
    }
    .home-left button{
        margin-top: 20px;
        font-size: 13px;
        font-weight: 400;
        padding: 10px 20px;
        border-radius: 0.3rem;
        width: 200px;
    }
    .home-right{
        display: none;
    }
}